@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: 255 255 255;
  --fg: 9 9 11;
  --muted: 113 113 122;
  --line: 228 228 231;
  --card: 255 255 255;
  --primary: 37 99 235;
  --primary2: 16 185 129;
}

html,body{ height:100%; }
body{
  background: rgb(var(--bg));
  color: rgb(var(--fg));
}
